.footer {
    border-top: 1px solid #eee;
    background-color: white;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 40px 0;
}

.footer-nav ul {
    list-style: none; 
    padding: 0;       
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-link {
    text-decoration: none;
    color: var(--text-light);
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: var(--primary-color);
}


.footer-social {
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 10px;
}

.socials-links {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.socials-links a {
    font-size: 24px;
    transition: opacity 0.2s;
}

.socials-links a.linkedin-footer {
    color: #0A66C2;
}

.socials-links a.github-footer {
    color: #000000; 
}

.socials-links a:hover {
    opacity: 0.7;
}

.footer-bottom {
    border-top: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.footer-bottom small {
    display: block;
    font-size: 14px;
    color: #5a5959;
}


@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr; 
        text-align: center;
    }
    
    .socials-links {
        justify-content: center;
    }
}