.hero-section {
    width: 90%;
    max-width: 1200px;
    margin: 120px auto 80px;
    display: flex;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.hero-imagem {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero-content {
    flex: 1;
    text-align: center;
    min-width: 300px;
}

.badge {
    display: inline-block;
    background: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}

.hero-content h1 {
    margin-bottom: 25px;
    font-size: 36px;
}

.hero-content p {
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.section {
    text-align: center;
    max-width: 1000px;
    margin: 80px auto 32px;
    padding: 0 20px;
}

.section-title {
    color: var(--text-dark);
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.bnt-link {
    text-decoration: none;
    color: var(--primary-color);
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
    margin: 50px 0;
    justify-items: center;
}

.card {
    max-width: 360px;
        width: 100%;
}

.card img {
    margin-bottom: 10px;
    width: 100%;
}

.card-icone {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.card-icone i {
    font-size: 25px;
}

.card-icone.webdesign {background-color: var(--secondary-color); color: var(--primary-color)}
.card-icone.front {background-color: #EFF6FF; color: #51A2FF}
.card-icone.ui-ux {background-color: #FAF5FF; color: #C27AFF}


.card h3 {
    margin-bottom: 15px;
}

.card-description {
    font-weight: 300;
    line-height: 1.5;
}

.areas h2 {
    margin-bottom: 40px;
}


@media (max-width: 1046px) {
    .hero-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }
    .hero-buttons {
        justify-content: center;
    }
    .cards-grid {
        grid-template-columns: 1fr;
        gap: 16px;
        margin: 30px 0;
    }
    .card {
        text-align: center;
    }
    .card-icone {
        margin: 0 auto 20px;
    }
    .card img {
        width: 70%;
    }
}
